 <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<p id="notice"><%= notice %></p>

<h1>Lezzetler</h1>

<table>
  <thead>
    <tr>
      <th>Isim</th>
      <th>Aciklama</th>
      <th>Resim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oyuns.each do |oyun| %>
      <tr>
        <td><%= makine.isim %></td>
        <td><%= makine.aciklama %></td>
        <td><%= image_tag makine.resim.url(:thumb) if oyun.resim? %> </td>
        <td><%= link_to 'İncele', makine %></td>
        <td><%= link_to 'Duzenle', edit_oyun_path(oyun) %></td>
        <td><%= link_to 'Sil', makine, method: :delete, data: { confirm: 'Emin misin?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Lezzet', new_oyun_path %>
